/Streams/nbproject/private/
/Streams/build/
/LocalPortScanner/nbproject/private/
/Socket/nbproject/private/
/Socket/build/
/TCP_Server/nbproject/private/
/TCP_Server/build/
/TCP_CLIENT/nbproject/private/
/TCP_CLIENT/build/
/UDP/nbproject/private/
/UDP/build/